*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.projects{
    padding-bottom: 114px;
}
.projects__wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px; 
    width: 100%;
    position: relative;
    z-index: 1;
}
.project{
    width: calc((100% - 2px - 2px - 2px) / 4);
    position: relative;
}
.project__info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.project::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    background: transparent;
    opacity: 80%;
}
.project:hover::before{
    background: #FF4343;
    opacity: 80%;
}
.project__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.project__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.project__text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-align: center;
}





