*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonial{
    display: grid;
    grid-template-columns: 47% 53%;
    margin-bottom: 114px;
    @media (min-width: 768px) and (max-width: 1024px){
        margin-bottom: 77.5px;
    }
    @media (min-width: 320px) and (max-width: 767px){
        margin-bottom: 34.5px;
        grid-template-columns: 100%;
    }
        &__wrapper{
        position: relative;
        &::before{
            content: "";
            display: block;
            padding-top: 66%;
        }
        &-img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {
        background-color: #5C3249;
        padding: 133px 170px 116px 129px;
      
        @media (min-width: 768px) and (max-width: 1024px){
            padding: 47px 104px 110px 88px;
        }

        @media (min-width: 320px) and (max-width: 767px){
            padding: 20px 25px 95px 20px;
        }
        &-quote{
            font-family: 'Cardo', serif;
            font-weight: 400;
            font-style: italic;
            font-size: 36px;
            line-height: 48px;
            color: #FFFFFF;
            margin-bottom: 17px;
            @media (min-width: 768px) and (max-width: 1024px){
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 10px;
            }
        }
        &-text{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;
            @media (min-width: 768px) and (max-width: 1024px){
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    &__slider{
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        margin-top: 31px;
        @media (min-width: 768px) and (max-width: 1024px){
            margin-top: 24px;
        }
        @media (min-width: 320px) and (max-width: 767px){
            margin-top: 23px;
            grid-column-start: 1;
            grid-column-end: 2;
        }
        &-dot{
            border: 1px solid #7E5D6F;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 25px;
            @media (min-width: 768px) and (max-width: 1024px){
                margin-right: 25.5px;
            }
            &:active{
                background-color: #7E5D6F;
            }
        }
    }
}









