*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonials__wrapper{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}
.testimonials__wrapper-sliders{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.testimonials__wrapper-img::before{
    content: "";
    display: block;
    padding-top: 66%;
}
.testimonials__wrapper-img{
    position: relative;
}
.testimonials__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 767px){
    .testimonials__wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}